.view-result-container {
  display: flex;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.sidebar-container {
  flex-basis: 12%;
}

.result-table-container {
  flex-basis: 88%;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-result-table {
  border-collapse: collapse;
  width: 100%;
}

.view-result-table thead {
  background-color: rgb(84, 81, 253);
  color: #fff;
}

.view-result-table th,
.view-result-table td {
  padding: 10px;
  border: 1px solid rgb(245, 245, 246);
}

.view-result-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-result-table td {
  position: relative;
  padding: 10px;
  border: 1px solid rgb(190, 190, 230);
}

.progress-bar-container {
  position: relative;
  width: 70%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
  background-color: navy;
}

.percentage-label {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-block;
  color: navy;
  font-weight: bold;
}

