
.main1{
     display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    
}
.main2{

    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: #d0d0f5;
}
