
$first:white;
$second: #020227;
$third:#5853ff;
$dark:rgb(44,44,44);
$text1:"roboto";
$text2:cursive;

.home4{
    width: 100%;
    height: 100vh;
   background-color: #d0d0f5;
    display: flex;
    justify-content: flex-end;
    
    
    >div{
        width: 70%;
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(62, 80, 183));
        height: 70vh;
        border-radius: 200px 0 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        >h1{
            text-transform:uppercase ;
            color: $first;
            border-bottom: 2px solid $first;
            padding: 0.5rem;
            width: 140px;
            
        }
        >article{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2rem 0;


        
        >div{
            animation:imgUp 0.7s linear infinite alternate;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark;
            flex-direction: column;
            background-color: $first;
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            padding: 2rem;
            margin: 1rem;
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                filter: invert(1);
            }
            svg{
                font-size: 5rem;
            }
            p{
                font: 900 1.2rem $text2 ;
            }

        }}
 }}